@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

a {
    cursor: pointer;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #fff;
}

header {
    background-color: #121535;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

header nav div {
    display: flex;
    gap: 20px;
}

header nav div a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

header nav div a span:hover {
    color: #ff5722;
}

header nav div span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

header nav div span i {
    font-size: 24px;
    margin-bottom: 5px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 420px;
    margin: 0 auto;
    background-color: #fff;
}

.search-input {
    border: none;
    flex: 1;
    padding: 10px 15px;
    font-size: 14px;
    outline: none;
}

.search-button {
    background-color: #fa6800;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button:hover {
    background-color: #ff5722;
}

.search-icon {
    width: 20px;
    height: 20px;
    color: white;
}

.hero {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.hero-right {
    background-image: url(images/bg/banner-two-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70%;
    height: 400px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    cursor: grab;
}

.hero-right-right img {
    width: 100%;
    max-width: 21rem;
    margin-top: 13px;
    margin-right: 7.5rem;
}

.hero-right-left {
    color: #fff;
    margin-top: 100px;
    margin-left: 60px;
    font-family: "Exo", sans-serif;
}

.hero-right-left h2 {
    font-size: 37px;
    font-weight: 900;
}

.hero-right-left span {
    font-weight: 500;
}

.hero-right-left button {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: white;
    background-color: transparent;
    border-color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.hero-right-left button:hover {
    color: #121535;
    background-color: #fff;
    cursor: pointer;
}

.promo {
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

.promo-card {
    background-image: url(images/bg/promo-bg-img1.png);
    height: 100px;
}